.search{
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 120px;
}
.company-logo{
  width: 64px;

  &__text{
    white-space: pre;
    font-family: Open Sans, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-left: 17px;
    & span{
      color: red;
    }
  }
}
.yandex-add{
  margin-left: 32px;
  width: 105px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px #ccc;
  align-items: center;
  display: flex;
  justify-content: center;
}
.search-field{
  margin-left: 32px;

  &__place{
    border-radius: 4px;
    width: 521px;
    height: 44px;
  }
  &__button{
    width: 75px;
    height: 36px;
    margin-left: -80px;
    border-radius: 4px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #D2001C;
    border: 2px solid red;
    background: white;
    cursor: pointer;
  }
}
.auth{
  margin-left: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &-pic{
    width: 24px;
  }
  &-text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding-left: 8px;
  }
}
.basket{
  cursor: pointer;
  margin-left: 32px;
  color: white;
  background: #D2001C;
  display: flex;
  align-items: center;
  width: 160px;
  height: 36px;
  border-radius: 5px;
  border:none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &-img{
    padding-left: 16px;
    padding-right: 8px;
  }
}
@media (max-width: 1462px) {
  .search{
    padding-left: 1%;
    padding-right: 1%;
    max-width: fit-content;
  }
}
@media (max-width: 1300px) {
  .search-field{
    margin-left: 10px;
    &__place{
      width: 360px;
    }
  }
  .search{
    //padding-left: 50px;
    //padding-right: 1%;
    //max-width: fit-content;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

