.devices{
  display: flex;
  align-items: center;
  padding: 0 124px;
  height: 61px;
  border-top: 1px solid lightgrey;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  justify-content: space-between;
  margin-top: 22px;
  &-item{
    cursor: pointer;
    position: relative;
    font-style: normal;
    height: 20px;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border: solid grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      top: 5px;

    }

    & select {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 1em 0 0;
      margin: 0;
      width: 100%;
      cursor: inherit;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;

    }
  }
}
@media (max-width: 1462px) {
  .devices{
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    margin-left: 0;
  }
}
@media (max-width: 1300px) {
.devices{
  justify-content: center;
  &-item{
    margin: 0 5px;
  }
}
}

@media (max-width: 1150px) {
  #menuToggle2 {
    display: block;
    position: absolute;
    top: 160px;
    left: 88%;
    z-index: 1;
    user-select: none;
  }

  #menuToggle2 li:hover
  {
    color: tomato;
  }


  #menuToggle2 input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle2 span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    opacity: 0;
    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle2 span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle2 span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle2 input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle2 input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle2 input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  .devices
  {
    position: absolute;
    //width: 300px;
    margin: -100px 0 0 250px;
    padding: 50px;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .devices li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle2 input:checked ~ ul
  {
    transform: none;
  }
}
