.services {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-right: 127px;
  margin-left: 124px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  &-item {
    cursor: pointer;
  }
}

.accordion {
  display: none;
}

@media (max-width: 1462px) {
  .services {
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    margin-left: 0;
  }
}

@media (max-width: 1300px) {
  .services {
    justify-content: space-evenly;
  }
}

@media (max-width: 1150px) {
  .accordion {
    display: block;
  }
  .services {
    background-color: white;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

    &-item {
      margin: 10px 10px;

      &:hover {
        color: #D2001C;
      }
    }
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  .active, .accordion:hover {
    background-color: #ccc;
  }
}
