.contacts{
  display: flex;
  font-style: normal;
  &-phone{
    color: black;
    text-decoration: none;
    padding-left: 20px;
}
  &-time{
    padding-left: 20px;
  }
}
.customSelect {
  &-city {
    cursor: pointer;
    position: relative;
    font-style: normal;
    //margin-left: 120px;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      top: 5px;

    }

    & select {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 1em 0 0;
      margin: 0;
      width: 100%;
      cursor: inherit;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;

    }
  }

}
.contacts-wrapper{
  display: flex;
  justify-content: space-between;
  background: #FED600;
  height: 32px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  & a{
    color: black;
    text-decoration: none;
    font-style: normal;
  }
}
.connect{
  display: flex;
  &-director{
    margin-left:37px;
  }
  &-email{
    margin-left:37px;
  }
  &-phone{
    margin-left:18px;
    //margin-right: 120px;
  }
  &-skype{
    margin-left:18px;
  }
}
@media (max-width: 1462px) {
  .contacts-wrapper {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (max-width: 1300px) {
  .contacts-wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }
}
@media (max-width: 1150px) {
  .contacts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }
  .contacts{
    margin: 10px 0;
    justify-content: space-between;
    display: flex;
  }
}
