.history{
  padding-top: 30px;
  font-family: SF Pro Text,sans-serif;
  font-style: normal;
  &-header{
    display: flex;
    &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      letter-spacing: -0.7px;
      color: #222222;
    }
    &__line{
      width: 916px;
      height: 1px;
      border-bottom: 1px solid gainsboro;
      margin-left: 12px;
      margin-top: 17px;
    }
  }
  &-links{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    &:hover{
      color: #D2001C;
      border-color: #D2001C;
    }
    &__link{
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-decoration-line: underline;
      color: #4D4D4D;
      &:hover{
        color: #D2001C;
      }
    }
  }
}
.arrow-right{
  margin-left: 15px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  &:hover{
    color: #D2001C;
    border-color: #D2001C;
  }
}
@media (max-width: 1300px) {
  .history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &-header{
      justify-content: center;
      &__line{
        display: none;
      }
    }

  }
}
@media (max-width: 725px) {
  .history{
    align-content: center;
    width: auto;
  }
}
@media (max-width: 528px) {
.history-links{
  display: flex;
  flex-direction: column;
  &__link{
    padding-top: 10px;
  }
}
}
@media (max-width: 450px) {
  .history{
   width: auto;
  }
}
