@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'), url('./assets/fonts/SFProDisplay.woff') format('woff');
}
body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 105px;
}
